[Desktop Entry]
Version=1.0
Type=Application

Name=Formula 1 Game & Watch Playdate
Comment=A Port of the Formula 1 Game & Watch Playdate game
Categories=Game;ArcadeGame;

Icon=io.github.joyrider3774.formula_1_game__watch_playdate
Exec=formula1_playdate
Terminal=false